.pensions {
  .pensions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 10%;
    margin-top: 70px;
    list-style: none;
    .card-pension {
      background-color: #a90000;
      color: white;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 50px black;
      height: 300px;
      width: 200px;
    }
  }
}
